<div class="row">
	<div class="col-md-12">
		<%= render 'complaint_list_links' %>
	</div>

	<div class="col-md-12 col-lg-12"></div>
	<% if @complaints.count > 0 %>
		<div class="col-md-12 col-lg-12">
			<div class="table-responsive">
				<table class="table table-striped table-centered table-bordered">
					<tr>
					    <td>sl no</td>
						<th>Customer name</th>
						<th>User Id</th>
						<th>Subject</th>
						<th>Description</th>
						<th>Ticket no</th>
						<th></th>
					</tr>
					<% @complaints.each do |complaint| %>
						<% if current_user.gcn_admin == true %>
							<% if complaint.complaint_resolve == true %>
							<tr>
								<td><%= complaint.id %></td>
								<td><%= complaint.customer.name %></td>
								<td>
									<% if (complaint.customer.cust_id.nil? || complaint.customer.cust_id.empty?) %>
										<% if (current_user.tele_caller == true) || (current_user.gcn_admin == true)%>
											<%= link_to 'Activate',activate_customer_path(complaint.customer), class: "btn btn-xs btn-danger btn-raised cust-see-detail-btn" %>
										<% else %>
											<span style="color:red"><strong>Inactive</strong></span>
										<% end %>	
									<% else %>
										<span class="glyphicon glyphicon-hand-right"></span> <%=link_to complaint.customer.cust_id, customer_path(complaint.customer), class: "complaint_ticket" %>
									<% end %>
								</td>
								<td><%= complaint.complaint_sub %></td>
								<td><%= truncate(complaint.complaint_body, length:50) %></td>
								<td><%= link_to complaint.ticket, complaint_path(complaint), class: "complaint_ticket" %></td>
								<td>
								    <p class="success_complaint"><small> <i class="fa fa-check-circle-o" aria-hidden="true"></i> Successfully solved by <%= complaint.complaint_fixed_by %></small></p>
								</td>
						    </tr>
					    <% end %>
						<% else %>
								<% if (complaint.complaint_resolve == true) && (complaint.customer.zone == current_user.zone) %>
									<tr>
										<td><%= complaint.customer.name %></td>
										<td>
											<% if (complaint.customer.cust_id.nil? || complaint.customer.cust_id.empty?) %>
												<% if (current_user.tele_caller == true) || (current_user.gcn_admin == true)%>
													<%= link_to 'Activate',activate_customer_path(complaint.customer), class: "btn btn-xs btn-danger btn-raised cust-see-detail-btn" %>
												<% else %>
													<span style="color:red"><strong>Inactive</strong></span>
												<% end %>	
											<% else %>
												<span class="glyphicon glyphicon-hand-right"></span> <%=link_to complaint.customer.cust_id, customer_path(complaint.customer), class: "complaint_ticket" %>
											<% end %>
										</td>
										<td><%= complaint.complaint_sub %></td>
										<td><%= truncate(complaint.complaint_body, length:50) %></td>
										<td><%= link_to complaint.ticket, complaint_path(complaint), class: "complaint_ticket" %></td>
										<td>
										    <p class="success_complaint"><small> <i class="fa fa-check-circle-o" aria-hidden="true"></i> Successfully solved by <%= complaint.complaint_fixed_by %></small></p>
										</td>
								    </tr>
							    <% end %>
						<% end %>
					<% end %>
				</table>
			</div>
		</div>
	<% end %>
</div>