<div class="wrapper">
  <div id="page-heading">
    <h1><span class="glyphicon glyphicon-plus"></span> New Complaint</h1>
    <hr/>
  </div>  
    
    <nav class="navbar navbar-default customer-navbar">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><%=link_to '<span class="glyphicon glyphicon-th-list"></span> Complaints'.html_safe, complaints_path %></li>
          <li class="active">
            <%=link_to '<span class="glyphicon glyphicon-plus"></span> New complaint'.html_safe, new_complaint_path %>
          </li>
        </ul>
      </div>
    </nav>


    	<div class="col-md-4 col-xs-12">
    		<%= form_tag({controller: "complaints", action: "create"}, method: "post", :id => "add_new_complaint") do %>
    			<div class="row billing-addr">
    				<div class="form-group col-xs-12 col-md-12">
    					<%= label_tag(:complaint_sub, "Subject") %>
    					<%= text_field_tag :complaint_sub, params[:complaint_sub], placeholder: 'Enter complaint subject', class: 'form-control required' %>
    				</div>
    				<div class="form-group col-xs-12 col-md-12">
    					<%= label_tag(:complaint_body, "Complaint body") %>
    					<%= text_area :complaint_body, params[:complaint_body], rows: 3, placeholder: 'Enter complaint description', class: 'form-control required' %>
    					<%#= text_field_tag :complaint_body, params[:complaint_body], placeholder: 'Enter complaint description', class: 'form-control' %>
    				</div>
                    
    				<div class="col-xs-12 col-md-12">
    					<%#= submit_tag("Take complaint", class: "btn btn-raised btn-danger btn-block complaint_btn") %>
                        <button name="customer[customer_id]" type="submit" value="<%=@customer.id %>" class="btn btn-raised btn-danger btn-block complaint_btn"> Raise complaint</button>
    				</div>
    				<div class="col-xs-12 col-md-12" align="center">
    					<br/>
    					<%=link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Back'.html_safe, root_path %>
    				</div>
    			</div>	
    		<% end %>
    	</div>

</div>