<div class="row mycomplaints">
	<div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-xs-12 col-sm-12"><h4 class="complaints-all">All Complaints</h4><hr/></div>

</div>
<% @complaint.each do |complaint| %>
	<div class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-4">
		<div class="row billing-addr">
			<div class="col-md-12">
				  <h5 class="cust-user-name">
				  	<b> 
				  		<% if complaint.customer %>
				  			<span class="glyphicon glyphicon-user"></span>
				  	 		<%= complaint.customer.name.capitalize %>
				  	 	<% end %>
				  	 </b>
				  </h5>
				  <h5 class="cust-user">
				  	   <b>
				  	   		<% if complaint.customer %>
				  	   			<%= complaint.customer.cust_id %>
				  	   		<% end %>	
				  	   	</b>
				  </h5>
				  <hr/>
				  <h4 class="list-group-item-heading"><%= complaint.complaint_sub %></h4>
				  <p class="list-group-item-text"><%= truncate(complaint.complaint_body, length:100) %></p>
				  <hr/>
				  <div class="created-text">
				  	<small>Created <%=time_ago_in_words(complaint.created_at) %> ago, Updated <%=time_ago_in_words(complaint.updated_at) %> ago </small>
				</div>
			</div>
		</div>
		</div>
	</div>
<% end %>
