<div class="container-fluid">
	<div class="row mycomplaints">
		<div class="container-fluid">
			<ul class="nav nav-tabs custom-tabs">
			  <li class="active"><a data-toggle="tab" href="#home">OPEN</a></li>
			  <li><a data-toggle="tab" href="#menu1">CLOSED</a></li>
			</ul>

			<div class="tab-content">
				  <div id="home" class="tab-pane fade in active">	
				  		<div class="table-responsive">
				  	  		<table class="table table-striped">
				  	  			<thead>
				  	  				<tr class="danger">
				  	  					<th>Customer name</th>
				  	  					<th>User Id</th>
				  	  					<th>Subject</th>
				  	  					<th>Description</th>
				  	  					<th></th>
				  	  				</tr>
				  	  			</thead>
				  	  			  	
				  				  			<tbody>
				  				  			<% @complaint.each do |complaint| %>
				  	  				  			<% if complaint.complaint_resolve == true %>
				  				  				<tr>
				  				  					<td>
				  			  							<% if complaint.customer %>
				  			  								<span class="glyphicon glyphicon-user"></span>
				  			  						 		<%= complaint.customer.name.capitalize %>
				  			  						 	<% end %>
				  				  					</td>
				  				  					<td>
				  				  						<% if complaint.customer %>
				  				  							<%= complaint.customer.cust_id %>
				  				  						<% end %>
				  				  					</td>
				  				  					<td>
				  				  						<%= complaint.complaint_sub %>
				  				  					</td>
				  				  					<td>
				  				  						<%= truncate(complaint.complaint_body, length:100) %>
				  				  					</td>
				  				  					<td>
				  				  						<% if complaint.complaint_resolve == true %>
				  				  							<b><%= link_to 'CLOSE', resolve_complaint_path(complaint),class: "btn btn-xs btn-danger btn-raised close_complaint" %></b>
				  				  						<% else %>
				  				  							<p class="success_complaint"><small> <i class="fa fa-check-circle-o" aria-hidden="true"></i> Successfully solved by <%= complaint.complaint_fixed_by %></small></p>
				  				  						<% end %>
				  				  					</td>
				  				  				</tr>
				  				  				<% end %>
				  				    <% end %>
				  				  			</tbody>
				  				  	    
				  	  		</table>
				  	  	</div>	
				  </div>
				  <div id="menu1" class="tab-pane fade">
				  	
					  		<div class="table-responsive">
					  			  		<table class="table table-striped">
					  			  			<thead>
					  			  				<tr class="danger">
					  			  					<th>Customer name</th>
					  			  					<th>User Id</th>
					  			  					<th>Subject</th>
					  			  					<th>Description</th>
					  			  					<th></th>
					  			  				</tr>
					  			  			</thead>
					  			  			  	
					  						  			<tbody>
					  						  			<% @complaint.each do |complaint| %>
					  			  				  			<% if complaint.complaint_resolve == true %>
					  						  				<tr>
					  						  					<td>
					  					  							<% if complaint.customer %>
					  					  								<span class="glyphicon glyphicon-user"></span>
					  					  						 		<%= complaint.customer.name.capitalize %>
					  					  						 	<% end %>
					  						  					</td>
					  						  					<td>
					  						  						<% if complaint.customer %>
					  						  							<%= complaint.customer.cust_id %>
					  						  						<% end %>
					  						  					</td>
					  						  					<td>
					  						  						<%= complaint.complaint_sub %>
					  						  					</td>
					  						  					<td>
					  						  						<%= truncate(complaint.complaint_body, length:100) %>
					  						  					</td>
					  						  					<td>
					  						  						<% if complaint.complaint_resolve == false %>
					  						  							<b><%= link_to 'CLOSE', resolve_complaint_path(complaint),class: "btn btn-xs btn-danger btn-raised close_complaint" %></b>
					  						  						<% else %>
					  						  							<p class="success_complaint"><small> <i class="fa fa-check-circle-o" aria-hidden="true"></i> Successfully solved by <%= complaint.complaint_fixed_by %></small></p>
					  						  						<% end %>
					  						  					</td>
					  						  				</tr>
					  						  				<% end %>
					  						    <% end %>
					  						  			</tbody>
					  						  	    
					  			  		</table>
					  		</div>
				  </div>
			</div>
		</div>
	</div>
</div>

