<div class="wrapper">
  <div id="page-heading">
    <h1><span class="glyphicon glyphicon-th-list"></span> List of customers</h1>
    <hr/>
  </div>  
    
    <nav class="navbar navbar-default customer-navbar">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to '<span class="glyphicon glyphicon-th-list"></span> List'.html_safe, root_path %></li>
          <% if (current_user.marketing_executive == true )|| (current_user.gcn_admin == true)%>
            <li><%= link_to '<span class="glyphicon glyphicon-plus"></span> Add new'.html_safe, new_customer_path %></li>
          <% end %>
          <li>
            <%=link_to '<i class="fa fa-magic fa-lg" aria-hidden="true"></i> Renew'.html_safe, new_renewal_path %>
          </li>
          <li><a id="search-item"><span class="glyphicon glyphicon-search"></span> Search</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Filter by
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">User Id</a></li>
                  <li><a href="#">Name</a></li>
                  <li><a href="#">Email</a></li>
                  <li><a href="#">Mobile no</a></li> 
                </ul>
            </li>
        </ul>
      </div>
    </nav>
        <div class="col-md-5 col-xs-12">
                  <%= form_tag({controller: "renewals", action: "new_renewal"}, method: "post", :id => "renew-form-two") do %>
                      <div class="row billing-addr">
                        <div class="form-group col-md-12 col-xs-12 icon-view">
                          <%= label_tag(:renew_date, "Renew Date") %>
                          <%= text_field_tag :renew_date, params[:renew_date], placeholder: 'Enter complaint subject', class: 'form-control required' %>
                          <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
                        </div>
                        <div class="form-group col-md-12 col-xs-12 icon-view">
                          <%= label_tag(:renew_plan, "Renew Plan") %>
                        
                          <%= collection_select(:renew_plan, params[:renew_plan], Plan.all, :plan_value, :plan_pattern,{prompt: 'Select plan'},{class: "form-control required"}) %>
                          <%#= collection_select :renew_plan, :id, Plan.all, :plan_value, :plan_pattern %>
                        </div>
                        <div class="form-group col-md-12 col-xs-12 icon-view">
                          <%= label_tag(:renew_amount, "Renew Amount") %> <small>(15% tax included)</small>
                          <%= text_field_tag :renew_amount, params[:renew_amount], placeholder: 'Enter renewal amount', class: 'form-control required', readonly: "true" %>
                          <i class="fa fa-inr fa-lg" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-12 col-xs-12">
                          <button name="customer[customer_id]" type="submit" value="<%=@customer.id %>" class="btn btn-raised btn-danger btn-block complaint_btn">Renew Customer</button>
                        </div>
                        <div class="col-md-12 col-xs-12" align="center">
                          <br/>
                          <%=link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Back'.html_safe, root_path %>
                        </div>
                      </div>  
                  <% end %>
        </div>
</div>
