
<br/>

<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<h3>Import Bill books:</h3>
			<hr/>
			<%= form_tag import_bill_books_path, multipart: true do %>
			  <%= file_field_tag :file, class: "form-control" %>
			  <p><%= submit_tag "Import", class: "btn btn-success" %></p>
			<% end %>
		</div>
		<div class="col-lg-4">
			<h3>Import customers:</h3>
			<hr/>
			<%= form_tag import_customers_path, multipart: true do %>
			  <%= file_field_tag :file, class: "form-control" %>
			  <p><%= submit_tag "Import", class: "btn btn-success" %></p>
			<% end %>
		</div>
		<div class="col-lg-4">
			<h3>Import Payment details:</h3>
			<hr/>
			<%= form_tag import_payment_details_path, multipart: true do %>
			  <%= file_field_tag :file, class: "form-control" %>
			  <p><%= submit_tag "Import", class: "btn btn-success" %></p>
			<% end %>
		</div>
	</div>
</div>