<div class="row">
  <div class="col-md-12 col-xs-12">
    <h3 class="page-heading"><i class="fa fa-magic fa-lg" aria-hidden="true"></i> Renewals</h3>
    <hr/>
  </div>
  <% if @customer.renewals.count > 0 %>
	  <div class="col-md-8 col-xs-12">
	  	<table class="table table-striped">
	  		<tr class="danger">
	  			<th>Renew date</th>
	  			<th>Plan</th>
	  			<th>Renew amount</th>
	  		</tr>
	  		<% @customer.renewals.each do |renew| %>
	  		<tr>
	  			<td><i class="fa fa-calendar" aria-hidden="true"></i> <%= renew.renew_date %></td>
	  			<td><i class="fa fa-tag" aria-hidden="true"></i> <%= renew.renew_plan %></td>
	  			<td><i class="fa fa-inr" aria-hidden="true"></i> <%= renew.renew_amount %></td>
	  		</tr>
	  		<% end %>
	  	</table>
	  </div>
	  <div class="col-md-4 col-xs-12">
	  <% balance_amount = (@customer.bill_books.sum(:bill_amount).to_i-@customer.payment_detail.monthly_payment_cost.to_i-@customer.renewals.sum(:renew_amount).to_i) %>
	  <% if balance_amount < 0 %>
	  	 <div class="panel panel-success payment-panels">
	        <div class="panel-heading">Balance	amount</div>
	        <div class="panel-body">
	          <h2 style="color: #e74c3c">
	            <i class="fa fa-inr" aria-hidden="true"></i> <%#= @customer.payment_detail.total_amount.to_i %>
	            <%= balance_amount.abs %>
	          </h2>
	        </div>
	    </div>
	 <% else %>
	 	<div class="panel panel-success payment-panels">
	        <div class="panel-heading">Credited	amount</div>
	        <div class="panel-body">
	          <h2 style="color: #4caf50">
	            <i class="fa fa-inr" aria-hidden="true"></i> <%#= @customer.payment_detail.total_amount.to_i %>
	            <%= balance_amount %>
	          </h2>
	        </div>
	    </div>
	 <% end %>
	  </div>
  <% else %>
  	<h1 align="center">No Renewals</h1>
  <% end %>
</div> 
