
<%= render 'layouts/navbarcustomer' %>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <%= render 'dashbord_links' %>
    <hr/>
  </div>
  <div class="col-lg-12 col-xs-12">
    <div class="row">
      <div class="col-md-12 col-lg-8 col-xs-12">
        <%= render 'expense_table' %>
        <h4 class="heading-h4"><strong><i class="fa fa-home" aria-hidden="true"></i> Billing address</strong></h4>
        <div class="custom-well col-md-12 col-xs-12">
          <div class="col-md-12 col-xs-12 address">
              <p><%= @customer.billing_address %></p>
              <hr/>
          </div>
          <div class="col-md-6 col-xs-12">
            <table class="address-chunks">
              <tbody>
                <tr>
                  <td><strong>Pin code :</strong></td>
                  <td><%= @customer.pin_no %></td>
                </tr>
                <tr>
                  <td><strong>Telephone no :</strong></td>
                  <td><%= @customer.billing_telephone_no %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6 col-xs-12">
              <table class="address-chunks">
                <tbody>
                  <tr>
                    <td><strong>Email :</strong></td>
                    <td><%= @customer.billing_email %></td>
                  </tr>
                  <tr>
                    <td><strong>Mobile no :</strong></td>
                    <td><%= @customer.billing_mobile_no %></td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xs-12">
            <h4 class="heading-h4"><strong><i class="fa fa-map-marker" aria-hidden="true"></i> Installation address</strong></h4>
            <div class="custom-well col-md-12 col-xs-12">
              <div class="col-md-12 col-xs-12 address">
                  <p><%= @customer.installation_address %></p>
                  <hr/>
              </div>
              <div class="col-md-6 col-xs-12">
                <table class="address-chunks">
                  <tbody>
                    <tr>
                      <td><strong>Pin code :</strong></td>
                      <td><%= @customer.installation_pin_no %></td>
                    </tr>
                    <tr>
                      <td><strong>Telephone no :</strong></td>
                      <td><%= @customer.installation_telephone_no %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6 col-xs-12">
                  <table class="address-chunks">
                    <tbody>
                      <tr>
                        <td><strong>Email :</strong></td>
                        <td><%= @customer.installation_email %></td>
                      </tr>
                      <tr>
                        <td><strong>Mobile no :</strong></td>
                        <td><%= @customer.installation_mobile_no %></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
        </div>   
    </div>
    <br/>
    <div class="row hidden-xs hidden-sm">
      <div class="col-md-12 col-lg-8 col-xs-12">
        <div class="col-md-6 col-xs-12">
          <h4 class="heading-h4"><strong><i class="fa fa-credit-card" aria-hidden="true"></i> Address proof details</strong></h4>
          <div class="address-well">
            <P><strong><i class="fa fa-credit-card" aria-hidden="true"></i> <%= @customer.address_proof_type %></strong></P>
            <h4><strong><%= @customer.address_proof_no %></strong></h4>
            <hr/>
            <div class="img-address-proof">
                <%= image_tag @customer.address_proof.url if @customer.address_proof? %>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <h4 class="heading-h4"><strong><i class="fa fa-user" aria-hidden="true"></i> Identity proof details</strong></h4>
          <div class="address-well">
            <p><strong><i class="fa fa-credit-card" aria-hidden="true"></i> <%= @customer.identity_proof_type %></strong></p>
            <h4><strong><%= @customer.identity_proof_no %></strong></h4>
            <hr/>
            <div class="img-address-proof">
              <%= image_tag @customer.identity_proof.url if @customer.identity_proof? %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row hidden-md hidden-lg">
        <div class="col-md-6 col-xs-12">
          <h4 class="heading-h4"><strong><i class="fa fa-credit-card" aria-hidden="true"></i> Address proof details</strong></h4>
          <div class="address-well">
            <P><strong><i class="fa fa-credit-card" aria-hidden="true"></i> <%= @customer.address_proof_type %></strong></P>
            <h4><strong><%= @customer.address_proof_no %></strong></h4>
            <hr/>
            <div class="img-address-proof">
                <%= image_tag @customer.address_proof.url if @customer.address_proof? %>
            </div>
          </div>
        </div>
        <br/>
        <div class="col-md-6 col-xs-12">
          <h4 class="heading-h4"><strong><i class="fa fa-user" aria-hidden="true"></i> Identity proof details</strong></h4>
          <div class="address-well">
            <p><strong><i class="fa fa-credit-card" aria-hidden="true"></i> <%= @customer.identity_proof_type %></strong></p>
            <h4><strong><%= @customer.identity_proof_no %></strong></h4>
            <hr/>
            <div class="img-address-proof">
              <%= image_tag @customer.identity_proof.url if @customer.identity_proof? %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


