<div class="wrapper">
  <div id="page-heading">
    <h1><span class="glyphicon glyphicon-plus"></span> Add new zone</h1>
    <hr/>
  </div>  
    
    <nav class="navbar navbar-default customer-navbar">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><%= link_to '<span class="glyphicon glyphicon-th-list"></span> List'.html_safe, zones_path %></li>
          <% if current_user.gcn_admin == true %>
          	<li class="active"><%= link_to '<span class="glyphicon glyphicon-plus"></span> Add new'.html_safe, new_zone_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="col-md-7 col-xs-12 zone-form-block">
	    <%= form_for @zone do |f| %>
		    <div class="row billing-addr">
				<div class="form-group col-md-6 col-xs-12">
				    <%= f.label :zone_code ,'Zone code'%>
				    <%= f.text_field :zone_code, class: "form-control required", placeholder: "Enter zone code." %>
				</div>
				<div class="form-group col-md-6 col-xs-12">
				    <%= f.label :zone_name ,'Zone name'%>
				    <%= f.text_field :zone_name, class: "form-control required", placeholder: "Enter zone name." %>
				</div>
		    	<div class="form-group col-md-6 col-xs-12">
		    	    <%= f.label :district ,'District'%>
		    	    <%= f.text_field :district, class: "form-control required", placeholder: "Enter district." %>
		    	</div>
		    	<div class="form-group col-md-6 col-xs-12">
		    	    <%= f.label :state ,'State'%>
		    	    <%= f.text_field :state, class: "form-control required", placeholder: "Enter state." %>
		    	</div>
		    	<div class="col-md-12 col-xs-12">
                	<%= f.submit class: "btn btn-raised btn-danger complaint_btn" %>
            	</div>	

		    </div>
	    <% end %>
    </div>
</div>