<!DOCTYPE html>
<html>
<head>
  <title>Gcnintraapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
  <meta name="viewport" content="width=device-width initial-scale=1.0" >
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'> -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet" type='text/css'>


</head>
<body>
	
	<div class="container alert-box">
		<% flash.each do |name,msg| %>
			<div class="container animated bounceInDown">
				<div class="row">
					<div class="col-md-offset-3 col-md-6">
						<div class="alert alert-dismissible alert-<%= "#{name}" %>">
						  <button type="button" class="close" data-dismiss="alert"><span class="glyphicon glyphicon-remove-circle"></span></button>
						  <b><%= msg %></b>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>

	<div id="side-bar-toggle">
		<%= link_to image_tag("aboutimg.png", :border=>0, class: "img-responsive logo-mobile-img" ), root_path, :alt=>"logo"  %>
		<div class="mob-user-detail">
			<% if current_user %>
			  <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <%= current_user.email %></p>
			<% end %>
		</div>
		<ul class="nav sidebar-nav">
		  	<li class="active"><%=link_to '<i class="fa fa-home fa-lg" aria-hidden="true"></i> Primary Details'.html_safe, customer_path(@customer) %></li>
		  	<li><%=link_to '<i class="fa fa-usd fa-lg" aria-hidden="true"></i> Payment Details'.html_safe, payment_detail_customer_path(@customer) %></li>
		  	<li><%=link_to '<i class="fa fa-magic fa-lg" aria-hidden="true"></i> Renewals'.html_safe, myrenewal_customer_path(@customer) %></li>
		  	<% if (current_user.tele_caller == true) || (current_user.gcn_admin == true) %>
		  		<li><%=link_to '<i class="fa fa-bell-o fa-lg" aria-hidden="true"></i> Take Complaint'.html_safe, new_complaint_path %></li>
		  	<% end %>
		  	<li><%=link_to '<i class="fa fa-cogs fa-lg" aria-hidden="true"></i> See Complaints'.html_safe, complaint_list_customer_path(@customer) %></li>
		  	<% if current_user %>
		  	  <li><%= link_to '<i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Log out'.html_safe, destroy_user_session_path, method: :delete %></li>
		  	<% end %>  
		</ul>
	</div>

	<div class="mob-overlay" id="mob-overlay"></div>
	<div class="container">
			<div class="mob-header row hidden-md hidden-lg">
				<div class="col-xs-2">
		 			<i class="fa fa-bars fa-lg" aria-hidden="true" align="left" id="menu-toggle"></i> 
				</div>
				<div class="col-xs-8 mob-header-text">
				<!-- <i class="fa fa-bars" aria-hidden="true" align="left"></i> -->
					GCN BROADBAND
				</div>
				<div class="col-xs-4"></div>
			</div>
	</div>

	<div class="container-fluid">

		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 side-bar hidden-xs">
				<%= link_to image_tag("aboutimg.png", :border=>0, class: "img-responsive logo-img" ), root_path, :alt=>"logo"  %>
				<ul class="nav sidebar-nav">
				  <li class="active"><%=link_to '<i class="fa fa-home fa-lg" aria-hidden="true"></i> Primary Details'.html_safe, customer_path(@customer) %></li>
				  <li><%=link_to '<i class="fa fa-usd fa-lg" aria-hidden="true"></i> Payment Details'.html_safe, payment_detail_customer_path(@customer) %></li>
				  <li><%=link_to '<i class="fa fa-magic fa-lg" aria-hidden="true"></i> Renewals'.html_safe, myrenewal_customer_path(@customer) %></li>
				  <% if (current_user.tele_caller == true) || (current_user.gcn_admin == true) %>
				  	<li><%=link_to '<i class="fa fa-bell-o fa-lg" aria-hidden="true"></i> Take Complaint'.html_safe, new_complaint_path %></li>
				  <% end %>
				  <li><%=link_to '<i class="fa fa-cogs fa-lg" aria-hidden="true"></i> See Complaints'.html_safe, complaint_list_customer_path(@customer) %></li>

				</ul>
			</div>
			<div class="col-sm-10 col-lg-10 col-md-10 col-xs-12 side-bar-contet" style="float:right">
				<%= render 'layouts/navbarcustomer' %>	
				<%= yield %>
		  	</div>
		</div>
		
	</div>

	
</body>
</html>
