<!DOCTYPE html>
<html>
<head>
  <title>Gcnintraapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
  <meta name="viewport" content="width=device-width initial-scale=1.0" >
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <!-- <link data-target='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'> -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet" type='text/css'>


</head>
<body>
	
	<div class="container alert-box">
		<% flash.each do |name,msg| %>
			<div class="container animated bounceInDown">
				<div class="row">
					<div class="col-md-offset-3 col-md-6">
						<div class="alert alert-dismissible alert-<%= "#{name}" %>">
						  <button type="button" class="close" data-dismiss="alert"><span class="glyphicon glyphicon-remove-circle"></span></button>
						  <b><%= msg %></b>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<div id="side-bar-toggle">
		<%= link_to image_tag("aboutimg.png", :border=>0, class: "img-responsive logo-mobile-img" ), root_path, :alt=>"logo"  %>
		<div class="mob-user-detail">
			<% if current_user %>
			  <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <%= current_user.email %></p>
			<% end %>
		</div>
		<div class="panel-group gcn-accordian" id="accordion-complain-mob">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-complain-mob" data-target="#collapseOne-complain-mob">
                    <h4 class="panel-title">
                        <span><i class="fa fa-users" aria-hidden="true"></i> Customers</span>
                    </h4>
                </div>
                <div id="collapseOne-complain-mob" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td>
                                    <%=link_to '<i class="fa fa-users" aria-hidden="true"></i> All Customers'.html_safe, root_path %>
                                </td>
                            </tr>
                            <% if (current_user.gcn_admin == true) || (current_user.branch_manager == true) || (current_user.marketing_team_lead == true) || (current_user.marketing_executive == true) %>
	                            <tr>
	                                <td>
	                                    <%= link_to '<i class="fa fa-plus fa-lg" aria-hidden="true"></i> Add New Customer'.html_safe, new_customer_path %>
	                                </td>
	                            </tr>
	                        <% end %> 
	                        <% if (current_user.gcn_admin == true) || (current_user.branch_manager == true) || (current_user.tele_caller_team_lead == true) || (current_user.tele_caller == true) %>   
	                            <tr>
	                                <td>
	                                    <%=link_to '<i class="fa fa-magic fa-lg" aria-hidden="true"></i> Renew Customer'.html_safe, new_renewal_path %>
	                                </td>
	                            </tr>
                            <% end %>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-complain-mob" data-target="#collapseTwo-complain-mob">
                    <h4 class="panel-title">
                        <span><i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i> Complaints</span>
                    </h4>
                </div>
                <div id="collapseTwo-complain-mob" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td>
                                    <%=link_to '<i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i> All Complaints'.html_safe, complaints_path %>
                                </td>
                            </tr>
	                        <% if (current_user.gcn_admin == true) || (current_user.branch_manager == true) || (current_user.tele_caller_team_lead == true) || (current_user.tele_caller == true) %>
		                        <tr>
		                            <td>
		                                <%=link_to '<i class="fa fa-plus fa-lg" aria-hidden="true"></i>	 Take complaint'.html_safe, newcomplaint_path %>
		                            </td>
		                        </tr>
	                        <% end %>
                            
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-complain-mob" data-target="#collapseThree-complain-mob">
                    <h4 class="panel-title">
                        <span><i class="fa fa-cubes" aria-hidden="true"></i> Plans  </span>
                    </h4>
                </div>
                <div id="collapseThree-complain-mob" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table class="table page-links">
                            <tr>
                                <td>
                                    <%=link_to '<i class="fa fa-cubes" aria-hidden="true"></i> Plans'.html_safe, plans_path %>
                                </td>
                            </tr>
                            <% if (current_user.gcn_admin == true) || (current_user.branch_manager == true) %>
	                            <tr>
	                                <td>
	                                    <%= link_to '<i class="fa fa-plus fa-lg" aria-hidden="true"></i>  New Complaint'.html_safe, new_plan_path %>
	                                </td>
	                            </tr>
                            <% end %> 
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-complain-mob" data-target="#collapseFour-complain-mob">
                    <h4 class="panel-title">
                        <span><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> Zones</span>
                    </h4>
                </div>
                <div id="collapseFour-complain-mob" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td>
                                    <%=link_to '<i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> All Zones'.html_safe, zones_path %>
                                </td>
                            </tr>
                            <% if (current_user.gcn_admin == true) || (current_user.branch_manager == true) %>
	                            <tr>
	                                <td>
	                                    <%= link_to '<i class="fa fa-plus fa-lg" aria-hidden="true"></i>  New Zone'.html_safe, new_zone_path %>
	                                </td>
	                            </tr>
                            <% end %>
                        </table>
                    </div>
                </div>
            </div>
		</div><!-- end of accordian -->
		<ul class="nav sidebar-nav">
		  	<% if current_user %>
		  	  <li><%= link_to '<i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Log out'.html_safe, destroy_user_session_path, method: :delete %></li>
		  	<% end %>  
		</ul>

	</div>
	<div class="mob-overlay" id="mob-overlay"></div>
	<div class="container">
			<div class="mob-header row hidden-md hidden-lg">
				<div class="col-xs-2">
		 			<i class="fa fa-bars fa-lg" aria-hidden="true" align="left" id="menu-toggle"></i> 
				</div>
				<div class="col-xs-8 mob-header-text">
				<!-- <i class="fa fa-bars" aria-hidden="true" align="left"></i> -->
					GCN BROADBAND
				</div>
				<div class="col-xs-4"></div>
			</div>
	</div>
	<div class="container-fluid">

		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 side-bar hidden-xs">
				<%= link_to image_tag("aboutimg.png", :border=>0, class: "img-responsive logo-img" ), root_path, :alt=>"logo"  %>
				<div class="panel-group gcn-accordian" id="accordion-complain">
	                <div class="panel panel-default">
	                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-complain" data-target="#collapseOne-complain">
	                        <h4 class="panel-title">
	                            <span><i class="fa fa-users" aria-hidden="true"></i> Customers</span>
	                        </h4>
	                    </div>
	                    <div id="collapseOne-complain" class="panel-collapse collapse">
	                        <div class="panel-body">
	                            <table class="table">
	                                <tr>
	                                    <td>
	                                        <%=link_to '<i class="fa fa-users" aria-hidden="true"></i> All Customers'.html_safe, root_path %>
	                                    </td>
	                                </tr>
	                                <% if (current_user.gcn_admin == true) || (current_user.branch_manager == true) || (current_user.marketing_team_lead == true) || (current_user.marketing_executive == true) %>
		                                <tr>
		                                    <td>
		                                        <%= link_to '<i class="fa fa-plus fa-lg" aria-hidden="true"></i> Add New Customer'.html_safe, new_customer_path %>
		                                    </td>
		                                </tr>
	                                <% end %>
	                                <% if (current_user.gcn_admin == true) || (current_user.branch_manager == true) || (current_user.tele_caller_team_lead == true) || (current_user.tele_caller == true) %>
		                                <tr>
		                                    <td>
		                                        <%=link_to '<i class="fa fa-magic fa-lg" aria-hidden="true"></i> Renew Customer'.html_safe, new_renewal_path %>
		                                    </td>
		                                </tr>
	                                <% end %>
	                            </table>
	                        </div>
	                    </div>
	                </div>
	                <div class="panel panel-default">
	                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-complain" data-target="#collapseTwo-complain">
	                        <h4 class="panel-title">
	                            <span><i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i> Complaints</span>
	                        </h4>
	                    </div>
	                    <div id="collapseTwo-complain" class="panel-collapse collapse">
	                        <div class="panel-body">
	                            <table class="table">
	                                <tr>
	                                    <td>
	                                        <%=link_to '<i class="fa fa-bullhorn fa-lg" aria-hidden="true"></i> All Complaints'.html_safe, complaints_path %>
	                                    </td>
	                                </tr>
                                    <% if (current_user.gcn_admin == true) || (current_user.branch_manager == true) || (current_user.tele_caller_team_lead == true) || (current_user.tele_caller == true) %>
            	                        <tr>
            	                            <td>
            	                                <%=link_to '<i class="fa fa-plus fa-lg" aria-hidden="true"></i>	 Take complaint'.html_safe, newcomplaint_path %>
            	                            </td>
            	                        </tr>
                                    <% end %>
	                            </table>
	                        </div>
	                    </div>
	                </div>
	                <div class="panel panel-default">
	                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-complain" data-target="#collapseThree-complain">
	                        <h4 class="panel-title">
	                            <span><i class="fa fa-cubes" aria-hidden="true"></i> Plans  </span>
	                        </h4>
	                    </div>
	                    <div id="collapseThree-complain" class="panel-collapse collapse in">
	                        <div class="panel-body">
	                            <table class="table page-links">
	                                <tr>
	                                    <td>
	                                        <%=link_to '<i class="fa fa-cubes" aria-hidden="true"></i> Plans'.html_safe, plans_path %>
	                                    </td>
	                                </tr>
	                                <% if (current_user.gcn_admin == true) || (current_user.branch_manager == true) %>
		                                <tr>
		                                    <td>
		                                        <%= link_to '<i class="fa fa-plus fa-lg" aria-hidden="true"></i>  New Complaint'.html_safe, new_plan_path %>
		                                    </td>
		                                </tr>    
	                                <% end %>
	                            </table>
	                        </div>
	                    </div>
	                </div>
	                <div class="panel panel-default">
	                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion-complain" data-target="#collapseFour-complain">
	                        <h4 class="panel-title">
	                            <span><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> Zones</span>
	                        </h4>
	                    </div>
	                    <div id="collapseFour-complain" class="panel-collapse collapse">
	                        <div class="panel-body">
	                            <table class="table">
	                                <tr>
	                                    <td>
	                                        <%=link_to '<i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> All Zones'.html_safe, zones_path %>
	                                    </td>
	                                </tr>
	                                <% if (current_user.gcn_admin == true) || (current_user.branch_manager == true) %>
		                                <tr>
		                                    <td>
		                                        <%= link_to '<i class="fa fa-plus fa-lg" aria-hidden="true"></i>  New Zone'.html_safe, new_zone_path %>
		                                    </td>
		                                </tr>
	                                <% end %>
	                            </table>
	                        </div>
	                    </div>
	                </div>
				</div><!-- end of accordian -->
			</div>
			<div class="col-sm-10 col-lg-10 col-md-10 col-xs-12 side-bar-contet" style="float:right">
				<%= render 'layouts/navbar' %>	
				<%= yield %>
		  	</div>
		</div>
		
	</div>
</body>
</html>
